// Import page-specific CSS files here.
@import "home";

.container-cards-map {
  display: flex;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
}

.row {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  margin: -1px;
}

.col {
  padding: -1px;
}

