<footer class="bg-dark text-center text-white ">
        <div class="text-center p-3 d-flex justify-content-between align-items-center" style="background-color: rgba(0, 0, 0, 0.2);">
          <div>
              <a class="btn btn-outline-light  m-1" href="https://www.linkedin.com/school/le-wagon/" role="button">
              <i class="fab fa-linkedin-in"></i></a>
              <a class="btn btn-outline-light  m-1" href="https://github.com/youssefrafra/park_it" role="button">
              <i class="fab fa-github"></i>
              </a>
          </div>
          <div>
            &copy;2021 made at 
          <a class="text-white" href="https://www.lewagon.com/lille">Le Wagon - Lille</a>
          </div>
        </div>
</footer>