<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://c1.wallpaperflare.com/preview/579/910/576/old-gate-old-garage-wooden-door-wooden-gate.jpg);
                           background-size: cover;
                           background-position: center;">
   <div class="d-flex justify-content-center mb-4">
    <h1>Welcome <%= current_user.first_name.capitalize if(user_signed_in?)%></h1>
   </div>
  <% console %>
    <div class="search-container d-flex justify-content-center">
      <div class="search">
        <input type="text" placeholder="Search.." name="search">
          <button class="btn btn-success" type="submit">Submit</button>
      </div>
      <div class="date">  
        <label class="text-white" for="start">Start date:</label>
          <input type="date" id="start" name="trip-start"
            value="2018-07-22"
            min="2018-01-01" max="2018-12-31">
            <input type="time" id="appt" name="appt"
            min="00:00" max="12:00" required>
          <input type="date" id="end" name="trip-end"
            value="2018-07-22"
            min="2018-01-01" max="2018-12-31">
          <a class="btn btn-success" href="#">Apply now</a>
      </div>
    </div>
</div>


<%# <div class="search-content">
  <div class="search homepage-search">
    <form action="" method="GET">
      <div class="form-group location">
        <div class="location-container"><i class="fa fa-map-marker"></i> 
        <div class="placeholder">Where would you like to park?</div>
          <input name="lat" type="hidden"> 
          <input name="lng" type="hidden"> 
        <div class="autocomplete-parent" name="location" placeholder="Address">
          <input id="location" type="text" autocomplete="off" name="location" placeholder="" class="form-control v2-styles"> 
          <a href="#"><i class="fa fa-crosshairs"></i></a> 
        </div>
        </div>
      </div>
  </div>
  <div class="form-group constrain">
    <div class="input-group">
      <span id="arrival_date_addon" class="input-group-addon">From</span>
      <input data-v-d60573bc="" type="text" aria-describedby="arrival_date_addon" name="start_date" class="form-control v2-styles dropdown-arrow flatpickr-input" readonly="readonly">
    </div>
  </div> 
    <div class="form-group constrain">
      <button type="submit" class="btn btn-green btn-disabled"><i class="fa fa-search"></i> 
        <span>Search</span>
        </span>
      </button>
    </div>
  </form>
</div> %>
  
