<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://c1.wallpaperflare.com/preview/579/910/576/old-gate-old-garage-wooden-door-wooden-gate.jpg);
                           background-size: cover;
                           background-position: center;">
   <div class="d-flex justify-content-center mb-4">
    <h1>Welcome <%= current_user.first_name.capitalize if(user_signed_in?)%></h1>
   </div>
    <div class="search-container d-flex justify-content-center">
      <div class="search">
        <input type="text" placeholder="Search.." name="search">
          <button class="btn btn-success" type="submit">Submit</button>
      </div>
      <div class="date">  
        <label class="text-white" for="start">Start date:</label>
          <input type="date" id="start" name="trip-start"
            value="2018-07-22"
            min="2018-01-01" max="2018-12-31">
            <input type="time" id="appt" name="appt"
            min="00:00" max="12:00" required>
          <input type="date" id="end" name="trip-end"
            value="2018-07-22"
            min="2018-01-01" max="2018-12-31">
          <a class="btn btn-success" href="#">Apply now</a>
      </div>
    </div>
</div>
