<div class="banner d-flex flex-column align-items-center justify-content-between" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://www.urban-chronicles.com/wp-content/uploads/2020/06/street-2701004_1920.jpg');">
   <div class="d-flex justify-content-center mb-4">
    <h1>Welcome <%= current_user.first_name.capitalize if(user_signed_in?)%></h1>
   </div>
    <div class="search-container d-flex justify-content-center">
      <div class="search">
        <input type="search" id="address-input" placeholder="Where are we parking?" />
          <button class="btn btn-success" type="submit">Submit</button>
      </div>
      <div class="date">  
        <label class="text-white" for="start">Start date:</label>
          <input type="date" id="start" name="trip-start"
            value="2018-07-22"
            min="2018-01-01" max="2018-12-31">
            <input type="time" id="appt" name="appt"
            min="00:00" max="12:00" required>
          <input type="date" id="end" name="trip-end"
            value="2018-07-22"
            min="2018-01-01" max="2018-12-31">
          <a class="btn btn-success" href="#">Apply now</a>
      </div>
    </div>
    <div class="mt-3">
        <%= link_to "All offers (#{Parking.count})", parkings_path, class:"btn btn-success" %>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/places.js@1.19.0"></script>
  <script>
  var placesAutocomplete = places({
    appId: '39S0L9WP5M',
    apiKey: '250b2bf1d63c1be858fdb3447f836035',
    container: document.querySelector('#address-input')
  });
</script>
</div>
