.btn-nav {
  background: orange;
  padding: 10px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
    &:hover {
      opacity: 0.6;
      color: white;
      text-decoration: none;
    }
  }