.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 100%;
  background-image:
    linear-gradient(
      to bottom, 
      #ee3915,#e0754e,#ee3915
    );
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
  object-position: center;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
    &:hover {
      opacity: 0.7;
    }
}

.btn-add {
  text-decoration: none;
  margin: 5px;
}
