.navbar-lewagon {
  justify-content: space-between;
  background: #eceef8;
  padding: 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  border-radius: 50%;
}

.navbar-light .navbar-nav .nav-link {
  color: #1f2020;
    &:hover {
      opacity: 0.7;
    }
}
