.navbar-lewagon {
  justify-content: space-between;
  background: #eceef8;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: #1f2020;
    &:hover {
      opacity: 0.7;
    }
}
