.search-container {
  box-sizing: border-box;
  margin-top: 4px;
  background-color: hsla(0,0%,100%,.2);
  border-radius: 2px;
  padding-right: 0.65rem;
}

.form-control {
  margin: 8px;
  background-color: aliceblue;
}
